
.nav-link {
    font-size:1.25rem;
}
.act{
    color: rgb(179, 13, 13);
    border-bottom: 3px solid #198754;
    font-size: 1.25rem;
}

.btn{
    margin-left: 20px;
    /* margin-top: 10px; */
    padding: 0.3rem 1rem;
}