.imgBorderRad {
    border-top-left-radius: calc(2.25rem - 1px);
    border-top-right-radius: calc(2.25rem - 1px);
}

.alignCard {
    left: 0;
    width: 100%;
    border-radius: 0;
}

.width100 {
    left: 0;
    width:100%;
}
