.card{
  left: 53%;
    width: 60%;
    /* background-color: rgba(0, 0, 0, 0.363); */
    background-color: #FFFFFF;
    border-radius: 35px;
}
.card-title{
  margin-bottom: 3rem;
  color: #147B0B;

}
.smalltext{
  font-size: 1.1rem;
  /* text-decoration: none; */
}
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    color: #147B0B;
    background-color: #89f70cde
    ;
  }
  
  .btn-google {
    color: white !important;
    background-color: #15944ee0;
  }
  
  .btn-facebook {
    color: white !important;
    background-color: #0a4cdad5;
  }
  