.card{
    width: 60%;
    background-color: rgba(141, 141, 141, 0.281);
}

  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  .btn-google {
    color: white !important;
    background-color: #15944ec7;
  }
  
  .btn-facebook {
    color: white !important;
    background-color: #3b58989d;
  }
  